* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

/* body {
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;

} */

header {
    background-image: url(/images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

header .headerr {
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    /* Set the height to 100% of the viewport height */
    padding: 20px;
    /* Add some padding for better spacing */
}

header .headerr h2,
header .headerr p {
    text-align: right;
}

header .headerr h2 {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    line-height: normal;
    width: 525px;
}

p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 494px;
}

header .headerr button {
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: #FFF;
    width: 160px;
    height: 64px;
    border: none;
}

section .myfailure {
    display: flex;   
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;

}

section .myfailure .failureimage {
    /* width: 451px;
    height: 898px; */
    width: 527.929px;

    height: 527.929px;
    border-radius: 527.929px;

}

/* section .failuretext{
    justify-items: center ;
} */


 h2 {
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 288px;
}

section .failuretext p, li{
    color: var(--Dark-02, #444343);
}

section .myfailure *{
    margin-top: 24px;
}

.myfailure{
height: 898px;

}

.section2{
    margin-top: 200px;
}


.section2{
    text-align: center;
}

.skilles{
    justify-content: space-around;
    display: flex;
    align-items: center;
}